.about {
  &__hero-content {
    width: 100%;
  }
  .hero-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: cols(2);
    right: cols(2);
    height: cols(1);
    padding: 0 cols(1);
    h5 {
      flex-grow: 1;
    }
    > div {
      display: flex;
      align-items: center;
      a {
        &:hover {
          opacity: 0.7;
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
  .grid {
    margin-bottom: cols(1);
  }
  @include tablet-lan-down {
    .hero-footer {
      left: cols(1);
      right: cols(1);
    }
  }
  @include phone-down {
    .grid {
      margin-bottom: cols(2);
    }
  }
  @include phone-sm-down {
    .grid {
      margin-bottom: cols(3);
    }
  }
}
