.project {
  .grid__row__item--image {
    height: auto;
  }
  &__hero {
    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: cols(1);
      // max-height: 150px;
      left: cols(2);
      right: cols(2);
      padding: 0 cols(1);
      &__content {
        h4 {
          color: $white;
          margin-bottom: 10px;
        }
        h5 {
          font-size: 16px;
          letter-spacing: 0.02em;
        }
      }
      &__scroll {
        width: 32px;
        position: relative;
        top: 5px;
        height: auto;
        cursor: pointer;
      }
    }
  }
  &__arrows {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    // max-height: 150px;
    height: cols(1);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    &__arrow {
      background-color: dark-gray-opacity(0.5);
      height: 100%;
      // min-height: 100px;
      width: cols(1);
      position: absolute;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      &:before {
        content: '';
        display: block;
        width: 39px;
        height: 15px;
        background-image: url('/static/img/globals/arrow_projects.svg');
        background-repeat: no-repeat;
        // background-position: center;
      }
      &--left {
        left: cols(-1);
        &:hover {
          opacity: 0.8;
        }
        &:before {
          transform: rotateZ(0deg);
        }
      }
      &--right {
        right: cols(-1);
        &:hover {
          opacity: 0.8;
        }
        &:before {
          transform: rotateZ(-180deg);
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &__hero__footer {
      left: cols(1.5);
      right: cols(1.5);
      height: auto;
      padding: 30px cols(1.5);
    }
    &__arrows {
      height: 100%;
      left: cols(-1.5);
      right: cols(-1.5);
      &__arrow {
        width: cols(1.5);
      }
    }
  }
  @media screen and (max-width: 992px) {
    &__hero__footer {
    }
    &__arrows {
    }
  }
  @media screen and (max-width: 768px) {
    &__hero__footer {
      display: flex !important;
      flex-direction: column;
      width: cols(15);
      left: 0;
      padding: cols(2) cols(1) 0;
      &__scroll {
        display: none;
      }
    }
    &__arrows {
      // position: static;
      width: cols(15);
      left: 0;
      right: 0;
      height: 70px;
      min-height: auto;
      top: -70px;
      &__arrow {
        width: 50%;
        &--left {
          left: cols(0);
        }
        &--right {
          right: cols(0);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__hero__footer {
      align-items: flex-start;
    }
  }
  @media screen and (max-width: 540px) {
    &__hero__footer {
      // height: cols(3);
    }
    &__arrows {
      // bottom: cols(3);
      // height: cols(3);
    }
  }
}
