.about {
  &__hero-content {
    width: 100%;
  }
  .hero-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: cols(2);
    right: cols(2);
    height: cols(1);
    padding: 0 cols(1);
    > div {
      display: flex;
      align-items: center;
      a {
        &:hover {
          opacity: 0.7;
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
  .grid {
    margin-bottom: cols(1);
  }
  @media screen and (max-width: 768px) {
    .grid {
      margin-bottom: cols(2);
    }
  }
  @media screen and (max-width: 540px) {
    .grid {
      margin-bottom: cols(3);
    }
  }
}
