.homepage {
  .grid {
    margin-bottom: cols(1);
    &__row__item--image {
      flex-grow: 1 !important;
    }
  }
  .intro-text {
    ul li {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__hero {
    &__content {
      &__tags {
        color: $white;
        margin-bottom: cols(0.3);
        span {
          font-weight: 500;
          letter-spacing: 0.02em;
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }
  }
  &__about {
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    background-image: url('/static/img/about/HeroImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0 cols(3);
    margin-top: calc(100vw / 15);
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: dark-gray-opacity(0.7);
    }
    p,
    button {
      position: relative;
      z-index: 1;
    }
    p {
      font-size: 55px;
      letter-spacing: 0.02em;
      line-height: 1.2em;
      color: $white;
      font-weight: 600;
      margin: 0 0 80px;
    }
    button {
      align-self: flex-start;
    }
  }
  @include big-desktop-up {
    &__about {
      p {
        max-width: cols(8);
      }
    }
  }
  @include tablet-lan-down {
    &__about {
      height: 100vh;
      padding: 0 cols(2);
      p {
        font-size: 40px;
        margin-bottom: cols(0.5);
      }
    }
  }
  @include phone-down {
    &__about {
      padding: cols(3) cols(1);
      height: auto;
      p {
        font-size: 30px;
        margin-bottom: cols(2);
        white-space: normal;
      }
    }
  }
  @include phone-sm-down {
    &__hero {
      &__content {
        &__tags {
          display: none;
        }
      }
    }
    &__about {
      padding: cols(5) cols(1);
    }
  }
}
