.projects {
  .grid {
    margin-top: cols(1);
    margin-bottom: cols(1);
  }
  margin-top: cols(1.5);
  @media screen and (min-width: 1921px) {
    margin-top: cols(1);
  }
  @include phone-down {
    margin-top: cols(2.5);
  }
  @include phone-sm-down {
    margin-top: cols(4);
  }
}
