.homepage {
  .grid {
    margin-bottom: cols(1);
    &__row__item--image {
      flex-grow: 1 !important;
    }
  }
  .intro-text {
    ul li {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__about {
    height: 100vh;
    max-height: 1080px;
    width: 100vw;
    background-image: url('#{$prefix}/static/img/homepage/steezy.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0 cols(3);
    margin-top: calc(100vw / 15);
    p {
      font-size: 55px;
      letter-spacing: 0.02em;
      line-height: 1.2em;
      color: $white;
      font-weight: 600;
      margin: 0 0 80px;
    }
    button {
      align-self: flex-start;
    }
  }
  @media screen and (min-width: 1920px) {
    &__about {
      p {
        max-width: cols(8);
      }
    }
  }
  @media screen and (max-width: 1200px) {
    &__about {
      height: cols(15);
      p {
        font-size: 40px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__about {
      padding: cols(3) cols(2);
      height: auto;
      p {
        font-size: 30px;
      }
    }
  }
  @media screen and (max-width: 540px) {
    &__about {
      padding: cols(5) cols(2);
    }
  }
}
