.btn {
  background-color: transparent;
  border: 2px solid;
  padding: 25px 40px 25px 40px;
  font-weight: 500;
  letter-spacing: 0.12em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  &.play-icon {
    padding: 15px 30px;
    &:before {
      // padding: 25px 40px 25px 90px;
      margin-right: 20px;
      background: url('/static/img/globals/playBtn.svg');
      background-size: cover;
      // background-size: 100%;
      mask-repeat: no-repeat;
      mask-position: center;
      content: '';
      // background-color: $primary;
      display: block;
      width: 31px;
      height: 31px;
      flex-shrink: 0;
    }
  }
  &--small {
    padding: 15px 35px;
  }
  // transition: background-color 0.2 ease-in-out;
  &--red {
    border-color: $primary;
    color: $primary;
    &:hover {
      background-color: $primary;
      color: $white;
      &.play-icon {
        &:before {
          content: '';
          background: url('/static/img/globals/playBtn_hover.svg');
        }
      }
    }
  }
  &--filled {
    background-color: $primary;
    color: $white;
    &.play-icon {
      &:before {
        background: url('/static/img/globals/playBtn_hover.svg');
        background-size: cover;
      }
    }
    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
      &.play-icon {
        &:before {
          background: url('/static/img/globals/playBtn_hover.svg');
          background-size: cover;
        }
      }
    }
  }
  @media screen and (max-width: 1366px) {
    padding: 20px 35px;
    &--small {
      padding: 10px 25px;
    }
    &.play-icon {
      padding: 20px 35px;
    }
  }
  @include tablet-lan-down {
    &.play-icon {
      padding: 15px 25px;
    }
  }
  @include phone-down {
    border: 1px solid;

    font-size: 11px;
    &.play-icon {
      &:before {
        width: 20px;
        height: 20px;
      }
    }
    &--red {
      border-color: $primary;
    }
  }
}
