.intro-text {
  margin: cols(2) auto;
  width: cols(11);
  display: flex;
  justify-content: space-between;
  p {
    width: cols(6);
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.02em;
    font-weight: 500;
    .btn-ghost {
      margin-top: cols(0.5);
    }
  }
  ul {
    margin-left: cols(1);
    max-width: cols(3);
    min-width: cols(2);
    min-width: 275px;
    li {
      display: flex;
      margin-bottom: 75px;
      span {
        color: $primary;
        font-size: 24px;
        font-weight: 400;
        margin-right: 50px;
      }
      div {
        h5 {
          color: $white;
          margin-bottom: 17px;
        }
        small {
          color: $med-gray;
        }
      }
    }
  }
}
