.hero-footer-logotypes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: cols(1);
  left: cols(2);
  right: cols(2);
  padding: 0 cols(1);
  &__list {
    width: cols(4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      &:not(:last-child) {
        margin-right: 30px;
      }
      width: auto;
      height: 100%;
      max-height: 20px;
    }
  }
  @include big-desktop-up {
    &__list {
      width: cols(3);
      img {
        // max-height: cols(1);
      }
    }
  }

  @include tablet-lan-down {
    left: cols(1);
    right: cols(1);
    &__list {
      img {
        // width: cols(1);
      }
    }
  }
  @include tablet-por-down {
    height: cols(1.5);
    padding: 0 cols(1.5);
    h5 {
      display: none;
    }
    &__list {
      width: 100%;
      img {
        width: cols(1.5);
      }
    }
  }
}
