.hero {
  // background-color: $dark-gray;
  height: 100%;
  // max-height: 1080px;
  width: 100vw;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &.video-is-playing {
      transform: translateX(-150%);
    }
    width: cols(9);
    transition: transform 0.5s ease-in-out;
    h1 {
      width: 100%;
      font-size: 70px;
      line-height: 1.2em;
      margin-bottom: cols(0.5);
    }
  }
  @media screen and (max-width: 1366px) {
    &__content {
      h1 {
        font-size: 60px;
      }
    }
  }
  @media screen and (max-width: 992px) {
    &__content {
      h1 {
        font-size: 50px;
        white-space: normal;
        margin-bottom: cols(1);
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__content {
      width: cols(13);
      h1 {
        font-size: cols(1.5);
      }
    }
  }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    h1 {
      font-size: 40px;
    }
  }
}
