.project-selector {
  // width: cols(15);
  padding: cols(0.5) cols(3);
  > h4 {
    color: $white;
    margin-bottom: cols(0.5);
  }
  &__grid-wrap {
    position: relative;
    .grid {
      overflow-x: hidden;
      padding: 0;
      width: auto;
      &.square {
        margin-left: unset;
        margin-right: unset;
        justify-content: center;
        flex-wrap: nowrap;
        .grid {
          &__row {
            justify-content: center;
            // width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            flex-shrink: 0;
            flex-wrap: nowrap;
            &__item--image {
              margin-bottom: 0;
              margin-top: 0;
              margin-right: cols(0.5);
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  &__arrow {
    position: absolute;
    top: calc(50% - 12px);
    cursor: pointer;
    svg {
      width: 32px !important;
      height: 32px !important;
    }
    &:hover {
      opacity: 0.7;
    }
    &--left {
      svg {
        transform: rotate(-270deg) !important;
      }
      left: calc(#{cols(-0.5)});
    }
    &--right {
      svg {
        transform: rotate(-90deg) !important;
      }
      right: calc(#{cols(-0.5)});
    }
  }
  @media screen and (max-width: 1200px) {
    .grid.square .grid__row__item--image {
      margin-bottom: 0;
      flex-basis: cols(4.25) !important;
      width: 100%;
      height: cols(4);
    }
    &__arrow {
      &--left {
        left: calc(#{cols(-1)} + 32px);
      }
      &--right {
        right: calc(#{cols(-1)} + 32px);
      }
    }
  }
  @media screen and (max-width: 900px) {
    padding: cols(1);
    .grid.square .grid__row__item--image {
      flex-basis: cols(13) !important;
      height: cols(13);
    }
    &__arrow {
      position: relative;
      width: 50%;
      height: cols(3);
      svg {
        position: absolute;
        top: calc(#{cols(1.5)} - 16px);
      }
      &--left {
        left: unset;
        float: left;
        svg {
          left: 0;
        }
      }
      &--right {
        right: unset;
        float: right;
        svg {
          right: 0;
        }
      }
    }
  }
}
