.intro-text {
  padding: cols(1) cols(3);
  // width: cols(11);
  display: flex;
  justify-content: space-between;
  p {
    width: cols(6);
    flex-shrink: 1;
    margin-right: cols(1);
    .btn-ghost {
      margin-top: cols(0.5);
    }
  }
  ul {
    width: auto;
    max-width: cols(2.5);
    flex-shrink: 1;
    li {
      display: flex;
      margin-bottom: 75px;
      span {
        color: $primary;
        font-size: 16px;
        font-weight: 500;
        margin-right: 50px;
      }
      div {
        h5 {
          color: $white;
          margin-bottom: 17px;
        }
        small {
          color: $med-gray;
        }
      }
    }
  }

  @media screen and (max-width: 1366px) {
    width: cols(13);
    padding-right: cols(1);
    p {
      font-size: 18px;
      width: cols(8);
    }
    ul {
      max-width: cols(5);
      li {
        div {
          h5 {
            font-size: 13px;
          }
          small {
            font-size: 16px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
    p {
      width: 80%;
      .btn-ghost {
        margin: cols(1) 0 0;
      }
    }
    ul {
      max-width: 100%;
      display: flex;
      flex-shrink: 0;
      margin-top: cols(2);
      margin-left: 0;
      justify-content: space-between;
      li {
        width: 33.33%;
        flex-direction: column;
        &:not(:last-child) {
          margin-right: cols(0.5);
        }
        margin-bottom: 0;
        span,
        h5,
        small {
          display: block;
          // text-align: center;
        }
        span {
          margin-right: 0;
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: cols(1) cols(2) cols(2) cols(1);
    p {
      width: 100%;
      // font-size: 21px;
      margin-right: 0;
      .btn-ghost {
        margin: cols(2) 0 0;
      }
    }
    ul {
      flex-direction: column;
      margin-top: cols(1);
      li {
        width: 100%;
        margin-bottom: cols(1);
        &:last-child {
          margin-bottom: 0;
        }
        div h5 {
          margin-bottom: 5px;
        }
      }
    }
  }
  @media screen and (max-width: 540px) {
    padding-right: cols(1);
    width: 100%;
  }
}
