.hero-footer-logotypes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: cols(1);
  left: cols(1);
  right: cols(1);
  padding: 0 cols(1);
  &__list {
    width: cols(5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      // &:not(:last-child) {
      //   padding-right: cols(0.5);
      // }
      width: auto;
      max-height: cols(0.2);
      height: auto;
    }
  }
  @media screen and (min-width: 1920px) {
    &__list {
      width: cols(4);
      img {
        max-height: cols(0.15);
      }
    }
  }
  @media screen and (max-width: 992px) {
    height: cols(1.5);
    padding: 0 cols(1.5);
    h5 {
      display: none;
    }
    &__list {
      width: 100%;
    }
    img {
      max-height: cols(0.3);
      // &:not(:last-child) {
      //   margin-right: cols(1);
      // }
    }
  }
}
