.topbar {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  // background-color: transparent;
  &.has-bg {
    background-color: $dark-gray;
  }
  &__navbar {
    width: cols(9);
    display: flex;
    // margin-top: 50px;
    position: absolute !important;
    &__brand {
      background: url('/static/img/globals/steezy.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      flex-shrink: 0;
      width: 121px;
      height: 23px;
      // background-color: $primary;
    }
    img {
      width: auto;
      height: auto;
    }
    &__label {
      display: none;
    }
    &__burger {
      margin-left: auto;
      flex-shrink: 0;
      cursor: pointer;
      width: 32px;
      height: 23px;
    }
  }
  &--fixed {
    position: fixed;
    width: 100vw;
    height: 90px;
    top: 0px;
    z-index: 2;
    align-items: center;
    .topbar__navbar {
      &__label {
        color: $light-gray;
        margin-left: 50px;
        display: inline-block;
      }
    }
  }
  @include tablet-lan-down {
    &__navbar {
      width: cols(13);
    }
  }
  @include phone-down {
    &__navbar {
      width: cols(13);
      &__brand {
        width: 100px;
        height: 19px;
      }
      &__burger {
        width: 25px;
        height: 19px;
      }
    }
  }
}
