.client-logos {
  width: cols(11);
  margin: cols(2) auto;
  h5 {
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: calc(100% / 5);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: cols(0.5) 0px;
      padding: 0 cols(0.5);
      img {
        width: auto;
        height: auto;
      }
    }
  }
}
