.services__content {
  margin: cols(0) 0;
  &__services-item {
    padding: cols(1) 0;
    > .btn {
      margin: auto;
    }
    &__about {
      width: cols(9);
      margin: auto;
      &__intro {
        margin-bottom: cols(1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__perex {
          width: cols(6);
          h1 {
            margin-bottom: 40px;
          }
        }
        &__icon {
          width: cols(3.5);
          margin-left: cols(1);
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      &__bullets {
        display: flex;
        justify-content: space-between;
        margin: 0 cols(-0.25 / 2);
        li {
          width: cols(3);
          padding: 0 cols(0.25 / 2);
          h2 {
            color: $white;
            margin-bottom: cols(0.25);
            span {
              color: $primary;
              font-weight: 400;
              margin-bottom: cols(0.25);
              display: block;
            }
          }
          p {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.02em;
            line-height: 1.5em;
            color: $med-gray;
          }
        }
      }
    }
    .grid {
      margin-top: cols(1);
      margin-bottom: cols(0.5);
    }
  }
  @media screen and (max-width: 1366px) {
    &__services-item {
      &__about__intro__icon {
        width: cols(3.5);
      }
    }
  }
  @include tablet-lan-down {
    &__services-item {
      &__about {
        width: cols(13);
        &__intro {
          &__icon {
            width: cols(4.5);
          }
        }
        &__bullets {
          li {
            width: cols(4);
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @include tablet-por-down {
    &__services-item {
      &__about {
        &__intro {
          margin-bottom: cols(1.5);
          &__perex {
            width: cols(8);
          }
          &__icon {
            width: cols(5.5);
            margin-left: cols(1);
          }
        }
      }
    }
  }
  @include phone-down {
    &__services-item {
      padding-top: cols(1);
      padding-bottom: cols(2);
      &__about {
        &__intro {
          flex-direction: column;
          align-items: flex-start;
          &__perex {
            width: cols(11);
            margin-top: cols(0);
            margin-bottom: cols(1.5);
          }
          &__icon {
            display: none;
          }
        }
        &__bullets {
          flex-direction: column;
          li {
            width: cols(11);
            margin-bottom: cols(1);
          }
        }
      }
      .grid {
        margin-bottom: cols(1);
      }
    }
  }
  @include phone-sm-down {
    // margin: cols(2) 0;
    &__services-item {
      padding-top: cols(2);
      // padding-bottom: cols(4);
      &:not(:last-child) {
        margin-bottom: cols(2);
      }
      .grid {
        margin-bottom: cols(2);
      }
      &__about {
        &__intro {
          margin-bottom: cols(3);
          &__perex {
            width: cols(13);
          }
        }
        &__bullets {
          li {
            width: cols(13);
            margin-bottom: cols(2);
            h2 {
              margin-bottom: cols(0.5);
              span {
                font-size: 18px;
                margin-bottom: cols(0.5);
              }
            }
          }
        }
      }
    }
  }
}
