@font-face {
  font-family: 'eina';
  font-weight: 300;
  font-style: normal;
  src: url('/static/fonts/393C9C_2_0.woff') format('woff');
}

@font-face {
  font-family: 'eina';
  font-weight: 400;
  font-style: normal;
  src: url('/static/fonts/393C9C_1_0.woff') format('woff');
}

@font-face {
  font-family: 'eina';
  font-weight: 500;
  font-style: normal;
  src: url('/static/fonts/393C9C_0_0.woff') format('woff');
}

@font-face {
  font-family: 'eina';
  font-weight: 600;
  font-style: normal;
  src: url('/static/fonts/393C9C_3_0.woff') format('woff');
}
