.grid {
  &__row__item {
    &--has-hover {
      cursor: pointer;
    }
    &--image {
      position: relative;
      overflow: hidden;
      height: cols(3.5);
      width: 100%;
      flex-grow: 1;
    }
  }
  &.no-crop {
    .grid__row__item--image {
      height: auto;
    }
  }
  &.square {
    .grid__row__item--image {
      flex-basis: unset !important;
      width: cols(8/3);
      height: cols(8/3);
      margin: cols(0.5) cols(0.25);
      // margin-right: cols(0.5);
      // &:nth-child(2n) {
      //   margin-right: 0;
      // }
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  @include tablet-lan-down {
    &__row__item {
      &--image {
        // width: cols(8/3);
        height: cols(6);
      }
    }

    &.square {
      margin: 0 cols(0.75);
      .grid__row__item--image {
        width: cols(12/3);
        height: cols(12/3);
      }
    }
  }

  @include tablet-por-down {
    &.square {
      .grid__row__item--image {
        height: cols(6);
        width: cols(6);
      }
    }
  }

  @include phone-down {
    &__row__item--image {
      height: cols(13);
    }
    &.square {
      margin: 0 cols(0);
      .grid__row__item--image {
        margin: 0;
        margin: cols(0.25) cols(1);
        height: cols(13);
        width: cols(13);
      }
    }
  }
}
