.grid__row__item--reference {
  display: flex;
  // margin: cols(2) auto;
  margin: cols(1) auto cols(1.5);
  align-items: center;
  justify-content: space-between;
  &__person {
    width: auto;
    flex-shrink: 0;
    img {
      width: 140px;
      height: 140px;
      border-radius: 100%;
      display: block;
      margin-bottom: 37px;
    }
  }
  &__quote {
    margin-left: cols(1);
    width: auto;
    width: cols(5);
    &:before {
      // width: 38px;
      width: 33px;
      // height: 24px;
      height: 20px;
      // margin-bottom: 50px;
      margin-bottom: 20px;
    }
    p {
      // font-size: 30px;
      font-size: 21px;
      letter-spacing: 0.02em;
      // line-height: 50px;
      line-height: 1.5em;
      font-weight: 500;
    }
    &:before {
      content: '';
      display: block;
      background-image: url('/static/img/globals/quotes.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  @media screen and (max-width: 1366px) {
    &__quote {
      // width: cols(8);
    }
  }

  @media screen and (max-width: 1200px) {
    margin-left: unset;
    margin-right: unset;
    &__quote {
      width: cols(6);
      p {
        font-size: 18px;
        line-height: 1.5em;
      }
      &:before {
        background-size: 80%;
      }
    }
  }

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: cols(2) auto;
    &__quote {
      width: cols(9);
      margin: auto;
      p {
        font-size: 21px;
        // text-align: center;
        // width: cols(12);
        margin-bottom: cols(2);
      }
    }
    &__person {
      display: flex;
      align-items: center;
      img {
        width: 150px;
        height: 150px;
        margin-bottom: 0;
      }
      p {
        margin-left: 50px;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.6em;
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: unset;
    margin-right: unset;
    &__person {
      img {
        width: 120px;
        height: 120px;
      }
    }
  }
  @media screen and (max-width: 540px) {
    &__quote {
      width: cols(13);
      p {
        font-size: 16px;
        line-height: 1.6em;
      }
    }
  }
}
