.grid__row__item--reference {
  display: flex;
  margin: cols(2) auto;
  align-items: center;
  justify-content: space-between;
  &__person {
    width: auto;
    flex-shrink: 0;
    img {
      width: 140px;
      height: 140px;
      border-radius: 100%;
      display: block;
      margin-bottom: 37px;
    }
  }
  &__quote {
    // width: cols(6);
    margin-left: cols(1);
    &:before {
      width: 38px;
      height: 24px;
      margin-bottom: 50px;
    }
    p {
      font-size: 30px;
      letter-spacing: 0.02em;
      line-height: 50px;
      font-weight: 500;
    }
    &:before {
      content: '';
      display: block;
      background-image: url('#{$prefix}/static/img/globals/quotes.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  @media screen and (min-width: 1920px) {
    margin: cols(1) cols(1.5);
    &__quote {
      width: auto;
      &:before {
        width: 33px;
        height: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 22px;
        line-height: 1.5em;
        letter-spacing: 0.02em;
      }
    }
  }
  @media screen and (max-width: 1366px) {
    &__quote {
      width: cols(8);
    }
  }

  @media screen and (max-width: 1200px) {
    &__quote {
      p {
        font-size: 24px;
        line-height: 1.5em;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: cols(4) auto;
    &__quote {
      width: cols(13);
      margin: auto;
      p {
        // text-align: center;
        width: cols(12);
        margin-bottom: cols(2);
      }
    }
    &__person {
      img {
        width: cols(4);
        height: cols(4);
      }
      p {
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 1.6em;
      }
    }
  }
}
