.grid {
  &__row__item {
    &--has-hover {
      cursor: pointer;
    }
    &--image {
      position: relative;
      overflow: hidden;
      height: cols(3.5);
      width: 100%;
      flex-grow: 1;
    }
  }
  &.square {
    .grid__row__item--image {
      flex-basis: unset !important;
      width: cols(8 / 3);
      height: cols(8 / 3);
      margin: cols(0.5) auto 0 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  @media screen and (max-width: 1200px) {
    &.square {
      .grid__row__item--image {
        flex-basis: cols(6.25) !important;
        height: cols(6.25);
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0 cols(1);
    &__row__item--image {
      height: cols(13);
    }
    &.square {
      .grid__row__item--image {
        flex-basis: unset !important;
        margin: cols(0.5) cols(0);
        flex-basis: cols(13) !important;
        height: cols(13);
      }
    }
  }
}
