.grid {
  display: flex;
  flex-wrap: wrap;
  // margin: cols(2) 0;
  &__row {
    width: 100%;
    height: cols(6);
    display: flex;
    margin: cols(0.25) cols(1);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.no-crop {
    .grid__row {
      height: auto;
    }
  }
  @media screen and (max-width: 768px) {
    // margin: cols(3) 0;
    &__row {
      flex-direction: column;
      margin: cols(0.5) cols(1);
      height: auto;
    }
  }
  &.square {
    .grid {
      &__row {
        flex-wrap: wrap;
        height: auto;
        justify-content: space-between;
      }
      @media screen and (max-width: 1200px) {
        margin-top: cols(1);
      }
      @media screen and (max-width: 768px) {
        margin-top: cols(2);
      }
      @media screen and (max-width: 700px) {
        margin-top: cols(3);
      }
    }
  }
}
