.grid__row__item--blockquote {
  margin: cols(1) auto;
  width: cols(6);
  h1 {
    text-align: center;
    color: $med-gray;
    font-size: 30px;
    line-height: 1.4em;
  }
  @media screen and (max-width: 1366px) {
    h1 {
      font-size: 30px;
    }
  }
  @include tablet-lan-down {
    width: cols(8);
  }
  @include tablet-por-down {
    width: cols(10);
    margin: cols(3) auto;
    h1 {
      font-size: 25px;
    }
  }
  @include phone-down {
    margin: cols(3) cols(0);
    width: cols(11);
    h1 {
      font-size: 25px;
      text-align: left;
    }
  }
  @include phone-sm-down {
    width: 100%;
    h1 {
      font-size: 18px;
    }
  }
}
