$light-gray: #90929b;
$dark-gray: #1c1d22;
$med-gray: #555563;
$primary-hover: hsl(356, 100%, 45%);
$primary: hsl(356, 100%, 55%);
$white: white;

@function cols($cols) {
  @return 100vw / 15 * $cols;
}

@function dark-gray-opacity($opacity) {
  @return rgba(17, 17, 20, $opacity);
}
